@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Nunito:wght@300;400;700&family=Supermercado+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  scroll-behavior: smooth;
}

:root {
  --thickness: 10px;
  --height: 50px;
}

body{
  background-color: aliceblue;
}

#clock {
  font-size: 2rem;
  background: -webkit-linear-gradient(cadetblue, lightcoral);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#date {
  color: crimson;
}

.loader {
  border: var(--thickness) solid #f3f3f3; /* Light grey */
  border-top: var(--thickness) solid royalblue;
  border-bottom: var(--thickness) solid royalblue;
  border-radius: 50%;
  width: var(--height);
  height: var(--height);
  animation: spin 5s linear infinite;
}

.container{
  box-sizing: border-box;
}

.labelfield,.inputfield{
  font-size: 1.2rem;
}

.text,.timeLeft{
  font-size: 0.5rem;
}

.labelfield{
  min-width: 100px;
  text-align: center;
}

.inputfield{
  width: 200px;
}

.btn{
  color: white;
}

.textfield{
  min-height: 60px;
  display: flex;
  place-content: center;
  place-items: center;
  
}

.label1{
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  background-color: #dddddd;
}
.label2{
  background-color:#e3e3e3;
}
.label3{
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background-color: #dddddd;
}

#sub{
  margin-left: 7rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
